<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="MySQLPeminic" connectionString="Server=localhost;Uid=admin;Pwd=cdkr4peminic;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbnames" value="tmc-ev" />
    <add key="choicemap" value="tmc-pr:441276,tmc-ev:215724,tmc-cl:174970" />
    <add key="idfieldmap" value="tmc-cl:302263,tmc-ev:590290,tmc-pr:931282,tmc-wc:4371" />
  </appSettings>
</configuration>